.carritoImg{
    width: 30px;
    height: 27px;
    margin: -3px 0px;
}

.nroProductos{
    margin-top: -190px;
    margin-left: 8px;
    text-decoration: none;
    color: black;
    font-size: 13px;

}