.margen{
    margin-top: 0px;
    padding-top: 100px;
    padding-left: 3px;  
}

.total{
    text-align: center;
    margin: 0px 180px;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 5px;
    letter-spacing: 3px;
}
h1{
    text-align: center;
}