.margen{
    margin-top: 0px;
    padding-top: 100px;
    padding-left: 3px;  
}

.total{
    text-align: center;
    margin: 0px 180px;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 5px;
    letter-spacing: 3px;
}
h1{
    text-align: center;
}

.divTerminarCompra{
    text-align: center;
    align-items: center;
}

.btnTerminarCompra{
    background-color: rgb(249, 249, 249);
    color: black;
    padding: 5px;
    margin: 10px;
    width: 200px;
    font-size: 19px;
    letter-spacing: 2px;
    font-weight: lighter;
    cursor:pointer;

    
}