.botonAgregarAlCarrito{
    align-items: center;
    text-align: center;
    padding: 7px;
    margin: 1px;
    background-color: black;
    color: white;
    
}

.divAgregarAlCarrito{
    align-items: center;
    display: grid;
    background-color: rgb(37, 37, 37);

}
