.fondo {
    background-image: url(../Multimedia/fondoMarron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.barra{
    background-color: white;
    display: grid;
    position: fixed;
    grid-template-columns:  4fr 1fr 1fr 1fr 1fr;
    padding: 5px;
    width: 100%;
    height: 60px;
    margin-top: 0px;
}

.titulo{
    margin: 5px 0px;
    text-align: left;
    padding-left: 30px;
}

.botones{
    height: 30px;
    width: 100px;
    padding: 5px;
    margin: 15px 0px;
    background-color: white;
    border: none;

}

.nombresBotones{
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1.2px;
}

.nombresBotones:hover{
    font-size: 13px;
    color: black;
    text-decoration: underline rgb(20, 20, 20);
}