.tarjetasGrid{
    display: grid;
    grid-template-columns:  1fr 1fr;
    margin-top: 0px;
    margin-left: 140px;
    margin-right: 110px;
    
}

.divGrid1{
    background-color: rgb(41, 41, 41);
    margin-left: 40px;
    padding: 5px 0px;
    text-align: center;
    color: white;
}

.fotosCarrito{
    width: 400px;
    margin-bottom: 30px;
}

.divGrid2{
    background-color: rgb(41, 41, 41);
    margin-left: 0px;
    padding: 5px 0px;
    text-align: center;
    margin-right: 70px;
}

.gridCaracts{
    
    display: grid;
    grid-template-columns:  1fr 4fr;
    
}

.nombreCaracts{
    font-weight: bold;
    text-align: left;
    max-width: 80px;
    margin-left: 10px;
    margin-top: 20px ;
    font-size: 14px;
}
.medidas{
    text-align: left;
    margin-top: 20px;
    margin-left: 0px;
}

.descripcion{
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
}

.precio{
    text-align: left;
    margin-top: 20px;
    margin-left:-10px;
}

.agregadas{
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;

}

.margenInfoCarrito{
    margin-right: 20px;
    margin-top: 53px;
    padding: 10px 5px;
    height:380px;
    background-color: rgb(255, 255, 255);
}

.botonQuitarAgregar{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    width: 150px;
    cursor:pointer;
} 


