.fotos{
    width: 200px;
    height: 200px;
}

.margenTarjetas{
    margin: 60px;
}

.caracts{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
.divTarjetas{
    margin: 0px 0px;
    text-align: center;
}
