.grid{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin: 10px;
    padding: 10px 100px;
}

.cadaTarjeta{
    padding: 30px 40px;
}
.asideBtnAgregarALCarrito{
    align-items: center;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 40px;
}

.btnAgregarALCarrito{
    background-color: black;
    padding: 8px;
    width: 75%;
    align-items: center;
    text-align: center;
    color: white;
    cursor:pointer;

}

.btnAgregarALCarrito:hover{
    font-size: 15px;
}